/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body{
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Class Selector */
.card{
    background-color: white;
    width: 320px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 12px 4px 20px rgba(0,0,0,0.2);
    margin-right:8px;
}


img{
    width: 120px;
    height: 130px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-color: black;
}

h2, h3{
    color: navy;
}

p{
    color: gray;
    margin: 10px 0;
    text-shadow:10;
}

li{
    list-style: none;
    color: rgb(158, 11, 11);
    margin: 5px 0;
}

#contact-btn{
    background-color: blue;
    color: white;
    border: 2px;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 40 50 2 black;
}

#contact-btn:hover{
    background-color: darkblue;
    box-shadow: 40 50 2 black;
    transition: contact-btn 1s;
}

